*, html, body{
    padding: 0;
    margin: 0;
}  
nav{
        margin: 30px;
    }
.inspiration{
    width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
margin: 50px auto;
border: 3px solid aquamarine;
justify-content: center;

}
.inspiration >img{
    width: 250px;
    margin: 20px;
}
    
/*for mobile*/
@media screen and (max-width: 480px) {
    p{
        color: red;
    }
   
li{
        list-style-type: none;
    }
    .inspiration{
        width: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    margin: 50px auto;
    border: 3px solid aquamarine;
  align-items: center;
    
    }
}
/*for tablet*/
@media screen and (min-width: 480px) and (max-width: 768px) {
li{
        list-style-type: circle;
    }
  
}

/*for desktop*/
@media screen and (min-width: 768px) {
 li{
        list-style-type: square;
    }
  
}